.idea/dictionaries/Erick.xml
券商分點_170120.7z
卷商分點分析.zip
卷商批次檔_170124.7z
*.xml
*.7z
*.jpg
*.iml
*.ipynb
/active_jupyter.bat
/排程/activate.bat
/排程/revenue_otc_201701.csv
/排程/revenue_sii_201701.csv
/排程/個股財務比率合併財報季表otc_(季)/revenue_otc_201609.csv
/財報_每月10日整理/revenue_sii_201701.csv
/query_stock_price/query_stock_price_鉅亨網.py
/合併財務比率累計季表資料.py
/捉取GoodInfo網頁.py
/排程/個股財務比率合併財報季表otc_(季)/test_otc.py
/chip_concentrate/__pycache__/__init__.cpython-34.pyc
/chip_concentrate/__pycache__/chip_concentrate.cpython-34.pyc
/query_stock_price/__pycache__/__init__.cpython-34.pyc
/query_stock_price/__pycache__/query_stock_price_國票證券.cpython-34.pyc
/query_stock_price/__pycache__/查詢股價_國票證券.cpython-34.pyc
/籌碼分析.py.rej
*.csv
/stock_inquire/__pycache__/*.pyc
